CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
examples/prog
examples/scatter
CPack*
aky_converter

libRastro/examples/read
libRastro/examples/write
rastro_generate
rastro_timesync
*.so
